.research-drawer {    
    .researchDrawer-bg-overlay {
        background: rgba(75, 59, 76, 0.73);
    }
    .content-drawer-px {
        @apply px-[25px] md:px-[50px] lg:px-[66px];
    }
    .content-drawer-header {
        h2 {
            @apply text-font24 lg:text-font30 text-blackesh-100 font-normal font-dmserif;
        }
    }
    .content-drawer-body {
        @apply py-[25px] sm:py-7 md:py-[33px];
        .drawer-long-title {
            @apply font-inter font-semibold text-blackesh-100 text-font20 lg:text-font25 mb-4 lg:mb-5;
        }
        p {
            @apply font-inter font-normal pb-6 text-blackesh-200 text-font16;
        }
    }
}
.content-drawer-open {
    @apply overflow-hidden;
}




.research-drawer.hidden div#cart-drawer {   
    --tw-translate-x: 100% !important;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}
.research-drawer div#cart-drawer {--tw-translate-x: 0px !important;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
    width: 100%;
}
.relative.z-50.research-drawer.hidden {
    display: block;
    opacity: 0;
    transition: all ease 0.3s 0s;
    visibility: hidden;
}
.mini-cart-close-icon svg {
    @media (max-width: 600px){
        width: 16px;
    }    
}
