.contact-us {
    .contact-row {
        .contact-left {
            .contact-details {
                @apply relative;
        
                .contact-details-card {
                    @apply flex items-center sm:flex-col sm:items-start sm:justify-start relative gap-y-4 md:gap-y-1;
                }
             
            }
        }
        .contact-right-form {
            .contact-form {
                .contact-input-row {
                    @apply w-full flex flex-col relative pt-5;

                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                    input[type=number] {
                        -moz-appearance:textfield;
                    }
                }
                .submit-btn{
                    margin-top: 10px;
                    @screen xl {
                        margin-top: 20px;
                    }
                    @screen 1440Width {
                        margin-top:24px;
                    }
                    
                    .btn_style {
                        @media (max-width:767px) {
                            @apply w-full;
                        }    
                    }
                }
            }
        }
    }
    .contact-input-row {
        @apply pt-4 xl:pt-5 text-right;
        input {
            @apply w-full border border-puce-400 font-inter text-font16 text-puce-400 font-normal px-4 2xl:px-6 outline-none transition duration-500 ease-in-out focus:transition focus:duration-500 focus:ease-in-out;
            box-shadow: 0 0 2px transparent;
            &:focus {
                box-shadow: 0 0 2px rgb(0 0 0);
            }
            height: 50px;
            padding-top: 11px;
            padding-bottom: 13px;
            &::placeholder {
                @apply text-puce-400;
            }
        }
        

        textarea {
            @apply w-full border border-puce-400 font-inter text-font16 text-puce-400 font-normal px-5 2xl:px-6 outline-none transition duration-500 ease-in-out focus:transition focus:duration-500 focus:ease-in-out;
            box-shadow: 0 0 2px transparent;
            &:focus {
                box-shadow: 0 0 2px rgb(0 0 0);
            }
            height: 140px;
            padding-top: 11px;
            padding-bottom: 13px;
            &::placeholder {
                @apply text-puce-400;
            }
            @screen 2xl {
                height: 161px;
            }
        }
        .blue-btn {
            @apply w-full;
        }
    }
    .right_contact_details {
        .content_description_sec {
            p {
                @apply text-puce-400 font-inter font-normal text-font14;
            }
        }
    }
}

.contact_info_sec {
   p {
    color: #867887;
    @apply font-normal font-inter text-font14;
    a {
        @apply underline text-[#CA8685] hover:text-blackesh-100;
    }
   }
}