
html {
    scroll-behavior: smooth;
}
.inner-hero-section-wrap {
    .inner-hero-section {
        &::after {
            max-width: 926px;
        }
    }
}

.faq-sec {
    font-family: Gotham,"sans-serif";
    .faq-tabs-row {
        z-index: 1;
        background: #fff;
        .faq-tabs-nav {
            @media (max-width: 767px){
                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                    background-color: #F5F5F5;
                }
                &::-webkit-scrollbar {
                    width: 2px;
                    height: 3px;
                    background-color: #F5F5F5;
                    margin-top: 10px;
                }
                
                &::-webkit-scrollbar-thumb {
                    background-color: #CA8685;
                }
            }
            .faq-tabs-btn {
                margin:0 30px 0 0;
                @screen md {
                    @apply m-0;
                    border-bottom: 3px solid #fff;
                }
                &:last-child {
                    margin-right: 0 !important;
                }
                &.active {
                    @apply text-[#CA8685];
                    @screen md {
                        border-color:#CA8685;
                    }
                }
            }
        }
    }
    .faq-tab-content-wrap {
        .faq-tabs-content {
                padding-bottom: 40px;
                @screen lg {
                    padding-bottom: 40px;
                }
                @screen 2xl {
                    padding-bottom: 62px;
                }
            
            &.active {
               @apply block;
            }
            .faq-accordion-item {
                .accordion-row {
                    border-top: 1px solid rgba(134, 120, 135, 0.26);
                    .accordion-box {
                        border-bottom: 1px solid rgba(134, 120, 135, 0.26);
                        .accordion-questions-box {
                            @apply relative block;
                            padding: 14px 32px 0;
                            padding-right: 15px !important;
                            margin-bottom: 14px;
                            cursor: pointer;
                            @screen md {
                                padding: 15px 35px 0;
                                margin-bottom: 15px;
                            }
                            @screen lg {
                                padding: 18px 42px 0;
                                margin-bottom: 18px;
                            }
                            @screen xl {
                                padding: 18px 40px 0;
                                margin-bottom: 18px;
                            }
                            @screen 2xl {
                                padding: 20px 40px 0;
                                margin-bottom: 20px;
                            }
                            .accordion-btn {
                                @apply absolute left-0 top-[19px];
                                @screen md {
                                    top: 20px;    
                                }
                                @screen lg {
                                    top: 21px;
                                }
                                @screen xl {
                                    top: 21px;
                                }
                                @screen 2xl {
                                    top: 25px;
                                }
                            }
                        }
                        .accordion-answers-box {
                            max-height: 0;
                            transition: max-height .50s;
                            padding: 0 20px 0 32px;
                           
                            @screen md {
                                padding-left: 35px;
                            }
                            @screen lg {
                                padding-left: 42px;
                            }
                            @screen lg {
                                padding-left: 40px;
                            }
                            p {
                                @apply text-font14 lg:text-font16 font-inter font-normal text-puce-400;    
                                padding-bottom: 20px;
                                &:last-child  {
                                    padding-bottom: 25px !important;
                                }
                                @screen sm {
                                    padding-bottom: 30px;
                                }
                                @screen lg {
                                    padding-bottom: 10px;
                                    &:last-child  {
                                        padding-bottom: 30px !important;
                                    }
                                }
                                
                            }
                        }
                        input[type=radio]:checked{
                            &~.accordion-answers-box {
                                max-height: 100%;
                                transition: max-height .50s;
                                @screen md {
                                    max-height: 100vh;
                                }
                            }
                            & + label {
                                .accordion-btn {
                                    .v-line {
                                        height: 0;
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.nav-position-set {
    top: -10rem;
    @screen md {
        top: -12rem;
    }
    @screen xl{
        top: -15rem;
    }

    @screen 2xl {
        top: -20rem;
    }
    
}