.featured-product {
    .img-wrapper {
        padding-top: 90%;
        @apply cursor-pointer;
    }
    .featured_product_img {
        padding-top: 95%;
        @apply relative;
        img, video {
            @apply absolute left-0 top-0 h-full w-full object-cover;
        }
    }
    .pdp-thumbsSlider-item {
        &.swiper-slide-thumb-active {
            box-shadow: 0 0 0 3px #000;
        }
    }
}
.swiper-slide.product-column {
    height: auto;
}




.sticky-atc-sec {
    filter: drop-shadow(0px -5px 34px rgba(239, 224, 229, 0.33));
    transform: translateY(100%);
    transition: transform .25s ease-out 0s;
    @screen sm {
        padding: 11px 0;
    }
    .sticky-atc-row {
        .sticky-atc-left {
            img {
                width: 70px;
                margin-right: 15px;
                max-height: 62px;
                min-width: 69px;
                @apply object-cover;
                @screen md {
                    margin-right:20px;
                }
                @screen lg {
                    margin-right:30px;
                }
                @screen 2xl {
                    margin-right:50px;
                }
            }
            .atc-content {
                h4 {
                    @media (max-width: 380px) {
                        font-size: 11px;
                        padding-bottom: 8px;
                    }
                }
                .atc-rating {
                    svg {
                        width: 11px;
                        @screen sm {
                            width: 16px;
                        }
                    }
                }
            }
            
        }
        .sticky-atc-right {

            .quantity-cart-btn {
                @apply flex;
              .quantity {
                  min-height: 38px;
                  max-width: 80px;
                  min-width: 80px;
                  @apply px-3 sm:px-4 md:px-5;
                  @screen sm {
                    min-width: 110px;
                  }
                  @screen md {
                      min-height:50px;
                      min-width: 150px;
                  }
                  @screen lg {
                      min-width:170px;
                  }
                  button {
                        width: 9px;
                        height: 9px;
                      @screen md {
                        width: 13px;
                        height: 13px;
                      }
                      @screen xl {
                          width:14px;
                          height:14px;
                      }
                  }
                  input {
                      max-width: 25px;
                      @apply text-font10 sm:text-font11 md:text-font16 2xl:text-font16;
                      @screen sm {
                        max-width: 50px;
                      }
                  }
              }
              .cart-btn {
                  @apply flex-none;
                  @apply text-font13 md:text-font16 lg:text-font17 xl:text-font18 px-5 sm:px-8;
                  line-height: 1 !important;
                  min-width: 105px;
                  min-height: 38px;
                  @screen sm {
                    min-width: 203px;
                  }
                  @screen lg {
                    min-width: 260px;
                  }
                  @screen xl {
                    min-width: 260px;
                  }
              }
          }
        }
    }
}
.show-sticky-atc {
    padding-bottom: 76px;
    @screen sm {
        padding-bottom: 78px;
    }
    @screen lg {
        padding-bottom: 86px;
    }
    @screen xl {
        padding-bottom: 88px;
    }
} 
.show-sticky-atc .sticky-atc-sec {
    transform: translateY(0);
    transition: transform .25s ease-out 0s;
}
.cart-open, .menu-open {
    .sticky-atc-sec.sticky-atc-sec{
        transform: translateY(100%);
    }
}
.sticky-atc-sec {
    .sticky-atc-row {
        .sticky-atc-right {
            .quantity-cart-btn {
                .cart-btn {
                    line-height: 1 !important;
                }
            }
        }
    }
}


.pdp-stock-message {
    @apply text-blackesh-200 font-normal;
    strong {
        @apply text-blackesh-200;
    }
}




