footer {
    @apply relative;
    .container {
        max-width: 1600px;
    }
    .footer-row {
        .footer-left-subscribe {            
            .subscribe-title {
                p {
                    @apply font-normal;
                }
            }
            .subscribe-form {
                @apply mb-[27px] lg:mb-[35px] 2xl:mb-[39px] relative;
                .subscribe-input {
                    input {
                        @apply w-full px-[23px] bg-white text-puce-600 font-inter text-font14 font-normal lg:text-font15;                          
                        line-height: 52px !important;
                        min-height: 52px;
                        &::placeholder {
                            @apply text-puce-600;
                        }
                    }
                }                                
            }
            @screen xl {
                width: 38%;
                max-width:523px;
            }
        }        
        .footer-menu-row {
            @apply sm:border-b sm:border-bordercolor-200 lg:border-0 pt-[30px] sm:pt-0;
            .menu-footer {                
                @apply py-[34px] border-b border-bordercolor-200 sm:border-0 w-full sm:w-[33.33%] sm:py-[30px] lg:pt-0;
                h3 {
                    @apply font-inter uppercase font-semibold pb-[20px] xl:pb-[30px] text-font16 md:text-font17 xl:text-font18;
                    letter-spacing: 0.2em;
                }
                ul {                    
                    li {    
                        @apply pb-3;                    
                        a {
                            @apply font-inter text-font14 md:text-font15 xl:text-font16 font-normal;                            
                            color: var(--theme-link-color);
                            &:hover {
                                color: #fff;
                            }
                        }
                        &:last-child {
                            @apply pb-0;
                        }
                    }
                }                
            }
        }        
        .follows-row-sec {                        
            .currency_picker {
                @apply flex justify-center pt-[26px] sm:py-0;                
                .selected_currency {
                    width: 100%;
                    @apply justify-center rounded-full;
                    background: rgba(255, 255, 255, 0.3);
                    min-height: 50px;
                    @screen sm {
                        width:auto;
                        @apply px-4;
                        min-width: 119px;
                        min-height:42px;
                    }
                    @screen 2xl {
                        min-height:45px;
                    }
                    .currency-flag {
                        @apply text-black text-font18 xl:text-font17 2xl:text-font18 font-semibold uppercase; 
                    }
                    .currency_arrow {
                        svg {
                            path {
                                fill: #fff;
                            }
                        }
                    }
                }
            }
        }        
    }
    .copy-right-sec {
        .copyright-left-sec {
            @apply flex flex-col text-center pb-[20px] sm:flex-row flex-wrap sm:text-left sm:pb-0;
            p {
                @apply text-font14 xl:text-font16;
                a {
                    @apply underline font-bold text-white;
                }
            }
            .line-copy {
                height: 20px;
                @screen sm {
                    height: 10px;
                    width: 1px;
                    @apply m-2 md:bg-white;    
                    @screen md {
                        width: 1px;
                        height: 16px;
                        top: 4px;
                        position: relative;
                        margin: 0 14px;                        
                    }
                }
            }
        }
        .paymnt_img {
            @apply justify-center;
        }
    }
}






footer {
    @media (max-width: 650px){
        localization-form, form#localization_form, .disclosure, .disclosure__button  {
            width: 100%;
            position: relative;
        }
    }
    
    .disclosure__list {
        @apply absolute top-[40px] bg-blackesh-600 py-3 border-t border-bordercolor-200 max-h-[200px] lg:max-h-[100px] overflow-auto w-full;
        .disclosure__item {
            @apply py-[5px] px-[20px];
            a {
                @apply text-font13 font-normal text-white font-inter flex items-center;
                img {
                    width: 20px;
                    height: 20px;
                    @apply rounded-full mr-[7px] object-cover;
                }
            }
        }
    }
    
}
.disclosure {
    button.disclosure__button {
        img {
            width: 25px;
            height: 25px;
            @apply rounded-full mr-[7px] object-cover;
        }
    }
}
