.multi-column {
    @media (max-width: 767px){
        border-right: 1px solid #C9C2C9;
        border-bottom: 1px solid #C9C2C9;
        padding-bottom: 20px;
        padding-top: 20px;
        &:nth-child(even) {
            @apply  border-r-0;
        }
        &:last-child {
            @apply  border-b-0;
        }
        &:nth-child(2n+3){
            @apply  border-b-0;
        }
    }  
}
.icon_sec {
    svg {
        @apply w-full h-full;
    }
}

