.ingredients-section {    
    .main-title {
        @apply max-w-[800px] xl:max-w-[900px] 2xl:max-w-[1100px] mx-auto;
        h2 {
            @apply font-dmserif font-normal text-blackesh-100 text-font22 md:text-font25 xl:text-font30 2xl:text-font35 4xl:text-font40;
        }
    }
    .ingredients-list {        
        @apply justify-between;
        border-top: 1px solid #C9C2C9;
        border-left: 1px solid #C9C2C9;
        border-right: 1px solid #C9C2C9;
        .ingredients-list-card {            
            @screen md {
                border: 1px solid #C9C2C9;
                border-left: none;
                border-top: none;                
            }                                    
            @apply flex-col justify-center items-center py-[17px] md:py-[30px] xl:py-[35px];
            .ingredients-list-img {
                @apply w-[87px] h-[87px] md:w-[95px] md:h-[95px] xl:w-[110px] xl:h-[110px] 2xl:w-[154px] 2xl:h-[154px] rounded-full flex justify-center items-center mb-[13px];
            }
            h3 {
                @apply text-font13 text-center text-blackesh-100 font-semibold font-inter pb-[9px] md:text-font16 xl:text-font18 lg:pb-[9px];
                line-height: 1.2;
            }
            .link-btn {
                @apply bg-transparent text-font10 md:text-font12 xl:text-font15 font-inter tracking-[0.04em] uppercase font-semibold py-0 px-0 cursor-pointer underline underline-offset-4 text-puce-100;
                text-decoration-thickness: 1px;
                width: fit-content;
                svg {
                    @apply hidden;
                }
            }
        }
    }
}
