.main-review-banner-section {    
    .stamped-container {
        width: 100% !important;
        max-width: 100% !important;
        @apply flex-wrap flex items-center justify-between;         
        .stamped-header {
            margin: 0 !important;
            @apply block;
            .stamped-summary {
                @apply flex flex-col justify-center items-center;
                .summary-overview {
                    @apply mb-[32px] flex flex-col justify-center items-center gap-4;
                    span.stamped-summary-caption.stamped-summary-caption-1 span.stamped-summary-text-1 {
                        @apply text-font27 text-blackesh-100 font-dmserif font-normal order-1 md:text-font30 lg:text-font35 2xl:text-font40;
                    }
                    .stamped-starrating  {
                        @apply order-3;
                    }
                    span.stamped-summary-caption.stamped-summary-caption-2 span.stamped-summary-text {
                        @apply m-0 text-font16 text-puce-400 font-inter font-normal order-2;
                    }                    
                }                                
                .stamped-summary-ratings {
                    @apply border-0;
                    &:hover {
                        .summary-rating {
                            @apply opacity-100;
                        }
                    }
                    .summary-rating {
                        @apply flex items-center justify-center;
                        .summary-rating-title {
                            @apply font-normal text-puce-400 font-inter;
                            font-size: 13px !important;                            
                            width: 40px !important;
                            &::before {
                                content: none !important;
                            }
                        }
                        .summary-rating-bar {
                            width: 220px;
                            height: 5px !important;
                            @apply bg-white;
                            .summary-rating-bar-content {
                                height: 5px !important;
                                @apply bg-puce-100;
                            }
                        }
                        .summary-rating-count {
                            @apply font-normal text-puce-400 font-inter;
                            font-size: 13px !important;     
                            color: #867887 !important;
                            padding-right: 5px !important;
                        }
                    }
                }
            }
        }
        .stamped-content {
            @apply border-t border-gray-1000 pt-[30px] mt-[30px] 2xl:pt-[50px] 2xl:mt-[50px] hidden;            
        }
    }
    
}




