.shopify-section-navigation-pdp {
    @apply top-[52px] lg:top-[90px];    
}
.pdp-navigation-bar {
    .pdp-navigation-inr {
        @apply border-b border-blackesh-200 max-w-[1788px] mx-auto;
        ul {
            @apply flex items-center;
            li {
                a {
                    @apply text-font16 text-puce-400 font-semibold font-inter py-[25px] border-b border-transparent uppercase block mr-6 xl:mr-10 2xl:mr-16;
                    &.active {
                        @apply border-puce-100 text-puce-100;
                    }
                }
            }
        }
    }
}
.our-promise-section {
    .container-custom {
        @apply lg:pr-0;
    }
}

.real-result-section {
    .list-title, .lid-text  {
        @apply text-white;
    }
}

.pdp-faq-section {
    .pdp-faq-block {
        .pdp-question-inr {
            @apply border-gray-1000 border-t;
            &:last-child {
                @apply border-gray-1000 border-b;
            }
            .pdp-title-question {
                @apply flex items-center justify-between text-font18 font-inter font-medium text-blackesh-100 capitalize cursor-pointer
                py-[18px] xl:px-[12px] 2xl:py-[25px] 2xl:text-font22;                             
            }
            .pdp-ans-content {
                max-height: 0;
                transition: max-height .2s;
                overflow: hidden;                        
                p {
                    @apply pb-[25px] 2xl:max-w-[738px] xl:px-[12px];
                }                       
            }
            input:checked~.pdp-ans-content {
                max-height: 100vh;
            }
            input:checked + label {
                svg {
                    @apply w-[19px];
                    .minus-icon {
                        @apply hidden;
                    }
                }
            }
        }
    }
}
