@import 'components/product-card';
// @import 'home-our-best-sellers.scss'; // featured collection section
// @import 'product-banner.scss'; // Product details section


.product-listing-sec {
    .product-title {
        .filter_dropdown_box {
            .filter_dropdown_row {
                position: absolute;
                right: 0;
                top: 100%;
                @apply pt-6 md:pt-7;
                z-index: 99;
                transform: scale(0);
                transition: all ease 0.3s 0s;
                transform-origin: top;
            }
            &:hover {
                .filter_dropdown_row, .show_filter {
                    transform: scale(1);
                }
            }
            .filter_dropdown {
                min-width: 157px;
                background: #fff;
                box-shadow: 0px 3.225px 8.0625px 1.6125px rgb(239 224 229 / 56%);
                z-index: 1;
                @apply border-t border-black;
                @screen md {
                    min-width:195px;
                }
                label {
                    @apply cursor-pointer;
                }
                .filter-item {
                    @apply items-center flex px-3 py-2 sm:py-4 sm:px-4 cursor-pointer;
                    @screen sm {
                        padding:12px 18px;
                    }
                    border-bottom: 0.80625px solid #EEEEEE;
                    &:last-child {
                        border-bottom: 0;
                    }
                    input {
                        opacity: 0;
                        width: 0;
                        height: 0;
                        @apply order-2
                    }
                    .check {
                        width: 6px;
                        height: 6px;
                        @apply rounded-full relative bg-gray-300 mr-2 order-1 border md:mr-3;
                        @screen md {
                            width: 10px;
                            height: 10px;
                        }
                        &::after {
                            content: "";
                            @apply absolute border-transparent border rounded-full;
                            width: 11px;
                            height: 11px;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            @screen md {
                                width: 14px;
                                height: 14px;
                            }
                            @screen 2xl {
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }
                    &:hover {
                        .check {
                            @apply bg-black;
                        }
                    }
                    label {
                        @apply text-font12 font-medium text-blackesh-100 order-3 md:text-font14 2xl:text-font15;
                    }
                    input:checked ~ .check{
                        @apply bg-black border-white;
                        &::after {
                            @apply border-black;
                        }
                    }
                }
            }
        }
    }
   
}


// Product Listing sec


.sidebar-collection {
    .main-sidebar-tabs {
        @apply flex items-center gap-6 sm:gap-7 md:gap-9 lg:gap-11;
        .customers-tabs {
            @apply text-font13 sm:text-font15 uppercase py-3 md:py-4 1440Width:py-5 text-black md:tracking-widest relative font-light flex;
            &::after {
                content: "";
                height: 3px;
                @apply left-0 right-0 w-full bg-yellow-100 opacity-0 absolute bottom-0;
            }
            &.active {
                @apply font-normal                
            }
            &.active::after {                
                @apply opacity-100;                
            }
        }
    }
}
.facets-wrapper {
    @media (max-width: 767px){
        @apply bg-white bottom-0 sticky;
    }
}
.mobile_filter {
    .plp-main-list {
        @apply flex flex-col md:flex-col lg:flex-row;
        .plp-left-sidebar {
            @apply  -mx-5 px-5 border-t border-b border-blackesh-200;    
            box-shadow: 0 -10px 20px #0000000d;
            // z-index: 1111;            
            @screen md {
                z-index: 1;
                box-shadow:none;
                order:unset;
                @apply p-0 m-0 md:pr-p25 md:w-[100%] border-0 md:py-0 lg:max-w-[286px];
                // @apply p-0 m-0 md:pr-p25 md:max-w-[286px] border-0;
            }
            .collection-list {
                @apply flex flex-col justify-start items-start bg-white fixed w-full bottom-0 left-0 opacity-0 lg:border-r md:border-black md:h-full md:flex-row md:overflow-auto lg:flex-col lg:overflow-hidden;
                z-index: 1111;
                transition: all ease-in-out 0.3s 0s;
                transform: translateY(100%);
                padding: 60px 20px 20px;        
                @screen md {
                    transform: translateY(0);
                    opacity: 1;
                    @apply relative bg-transparent p-0  md:pt-7 z-10 lg:pt-9 1440Width:pt-[52px] md:pb-7 lg:pb-9 1440Width:pb-[138px] md:pr-6;
                }
                .product-tabs-list {
                    @apply text-font16 lg:text-font18 font-normal capitalize mb-3 text-blackesh-100 flex text-left md:whitespace-nowrap md:mr-6 md:mb-0 lg:mb-[22px] lg:whitespace-normal hover:underline font-inter;
                    line-height: 22px;
                    span {
                        @apply block min-w-[24px] mr-[12px];
                        margin-top: 7px;
                    }
                    &.active {
                        @apply underline;
                        text-underline-offset: 3px;
                    }
                    img {
                        max-width: 24px;
                        height: 22px;
                        @apply object-contain mx-auto;
                    }
                }                
            }
        }
        .product-list {
            flex: 1;       
            @apply pt-5 md:pt-7 lg:pt-9 1440Width:pt-[52px] md:pb-7 lg:pb-9 1440Width:pb-[138px];      
            .product_grid {
                @apply sm:p-0 border-0;
                &:last-child {
                    @apply pb-0 border-0;
                }
                .normal_product_view {
                    .img_wrapper {
                        padding-top: 85%;
                    }
                }
            }
        }
        &.hidden {
            display: none;
        }
    }
}
.open_plp_filter {
    .plp-main-list {
        .plp-left-sidebar {
            .collection-list {
                @apply opacity-100;
                transform: translateX(0);                    
            }
        }
        &::after {
            content: "";
            @apply fixed top-0 left-0 right-0 bottom-0;
            background-color: rgba(75, 59, 76, 0.73);
            z-index: 111;
        }
    }
}

.save__sec {
    .primary-btn {
        @apply w-full min-w-full;
    }
}

.mobile-cart-popup {
    @apply flex flex-col justify-start items-start bg-white fixed w-full bottom-0 left-0 opacity-0 lg:border-r lg:border-black lg:h-full  lg:flex-col;
    z-index: 1111;
    transition: all ease-in-out 0.3s 0s;
    transform: translateY(100%);
    padding: 0 20px 20px;        
    @screen lg {
       @apply hidden;
    }
    .product-tabs-list {
        @apply text-font16 lg:text-font18 font-normal capitalize mb-3 text-blackesh-100 flex text-left  lg:mr-6 lg:mb-[22px] lg:whitespace-normal hover:underline font-inter;
        line-height: 22px;
        span {
            @apply block min-w-[24px] mr-[12px];
            margin-top: 7px;
        }
        &.active {
            @apply underline;
            text-underline-offset: 3px;
        }
        img {
            max-width: 24px;
            height: 22px;
            @apply object-contain mx-auto;
        }
    }   
    .product-content-box {
        .price--on-sale .price-item--regular {
            @apply text-font12 md:text-font14 font-inter font-normal;
            
            color: rgba(132, 116, 134, 0.8);
        }
        span.price-item.price-item--sale.price-item--last {
            @apply text-font16 ;
        }  
        .quantity-cart-btn {
            @apply flex;
            height: 44px;
          .quantity {
              @apply px-3 sm:px-4 md:px-5;
              button {
                @apply h-full w-[22px] h-[22px] p-[5px];
              }
              input {
                  max-width: 30px;
                  @apply text-font14 md:text-font15 font-inter text-blackesh-100 font-medium mx-2 text-center;
                  padding: 2px;
              }
          }
          .cart-btn {
              @apply flex-none;
              @apply text-font13 md:text-font15 lg:text-font17 xl:text-font18 px-5 sm:px-8;
              line-height: 1 !important;
              min-width: 105px;
              min-height: 38px;
              @screen sm {
                min-width: 203px;
              }
              @screen lg {
                min-width: 260px;
              }
              @screen xl {
                min-width: 260px;
              }
          }
        }
    }
    
              
}
.open_cart_filter {
    .cart-main-list {
        .mobile-cart-popup.show {
            @apply opacity-100;
            transform: translateX(0);                    
        }
        
        &::after {
            content: "";
            @apply fixed top-0 left-0 right-0 bottom-0;
            background-color: #3b313c24;
            z-index: 111;
        }
    }
}

.select_sec {
    select {
        background: transparent;
    }
}
body.overflow-hidden {
    .facets-wrapper {
        z-index: 999;
    }
}
summary::marker {
   @apply hidden text-white;
   content: '' !important;
}
.mobile-facets__submenu {
    .field__input {
        &:focus {
            box-shadow: none!important;
            @apply outline-none;
        }
    }
}


.mobile-facets__wrapper {
    .accordion_row  {
        .toggle-facet {
            .right__part {
                svg {
                    @apply rotate-0;
                }
                
            }
            
            &.rotate {
                .right__part {
                    svg {
                        @apply rotate-180;
                    }
                }
            }
        }
    }
}
