.fa-star, .fa-star-checked, .fa-star-half-o, .fa-star-o, .stamped-fa-star, .stamped-fa-star-checked, .stamped-fa-star-half-o, .stamped-fa-star-o {
    color: #CA8685 !important;
}
.stamped-widget-poweredby {
    display: none;
}
#stamped-main-widget {    
    margin: 0 !important;
}
.stamped-container {
    .stamped-header {
        @apply hidden;
        .stamped-summary-actions {
            .stamped-summary-actions-newreview {
                min-height: 56px;
                min-width: 200px;
                width: fit-content;
                transition: all ease-in-out 0.3s 0s;
                color: #fff;
                background-color:#CA8685;
                border: 1px solid #CA8685;
                border-radius: 0;
                @apply  text-font15 font-semibold py-0 px-[30px]  2xl:px-[42px]  flex items-center justify-center cursor-pointer tracking-8 uppercase font-inter flex-row-reverse ;
                @screen 2xl {
                    min-height: 60px;
                }  
                @screen 4xl {
                    min-height: 64px;
                }    
                &:before {
                    @apply ml-[20px];
                    font-size: 0;
                    width: 22px;
                    height: 16px;                    
                    background: url("data:image/svg+xml,%3Csvg width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.7072 7.28071L14.7071 0.280712C14.5185 0.0985542 14.2659 -0.00224062 14.0037 3.78025e-05C13.7415 0.00231622 13.4907 0.107485 13.3053 0.292894C13.1199 0.478302 13.0147 0.729114 13.0125 0.991311C13.0102 1.25351 13.111 1.50611 13.2931 1.69471L18.5862 6.98771H1.00001C0.734791 6.98771 0.480434 7.09307 0.292896 7.28061C0.105358 7.46814 0 7.7225 0 7.98771C0 8.25293 0.105358 8.50728 0.292896 8.69482C0.480434 8.88236 0.734791 8.98771 1.00001 8.98771H18.5862L13.2931 14.2807C13.1976 14.373 13.1214 14.4833 13.069 14.6053C13.0166 14.7273 12.989 14.8585 12.9879 14.9913C12.9867 15.1241 13.012 15.2558 13.0623 15.3787C13.1126 15.5016 13.1868 15.6132 13.2807 15.7071C13.3746 15.801 13.4863 15.8753 13.6092 15.9255C13.7321 15.9758 13.8638 16.0011 13.9965 16C14.1293 15.9988 14.2605 15.9712 14.3825 15.9188C14.5045 15.8664 14.6149 15.7902 14.7071 15.6947L21.7072 8.69471C21.8947 8.50718 22 8.25288 22 7.98771C22 7.72255 21.8947 7.46824 21.7072 7.28071Z' fill='white'/%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    background-size: 100%;
                }
            }
        }
    }
    .stamped-content {
        @apply flex justify-between flex-wrap items-center w-full;
        form {
            @apply order-1 p-7 bg-white;
        }
        .stamped-tab-container {
            @apply order-2;
        }
        div#stamped-reviews-filter {
            @apply order-3;
            margin-left: auto !important;
        }
        .stamped-messages {
            @apply order-4;
        }
        .stamped-tab-container {
            display: block !important;
            height: auto !important;
            .stamped-tabs {
                border: 0 !important;
                height: auto !important;
            }
            ul.stamped-tabs {
                li#tab-reviews {
                    display: block !important;                
                    border: 0;
                    height: auto !important;
                    padding: 0;
                    margin: 0;
                    @apply text-font16 md:text-font18 xl:text-font20 font-inter text-blackesh-100 font-medium;
                    &::after {
                        @apply bg-transparent;
                    }
                }
            }
        }
        .stamped-reviews-filter {
            @apply w-auto m-0;
            #stamped-sort-select {                
                padding: 0;
                margin: 0;                
                background: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.7762 0.66863L13.3176 0.221886C13.1733 0.0823677 12.9813 0.00550598 12.7761 0.00550598C12.571 0.00550598 12.3787 0.0823677 12.2344 0.221886L7.00313 5.28308L1.76584 0.21627C1.62174 0.0767516 1.42949 0 1.22438 0C1.01928 0 0.826917 0.0767516 0.682705 0.21627L0.224002 0.660262C-0.0746673 0.948988 -0.0746673 1.4193 0.224002 1.70802L6.45963 7.76237C6.60373 7.90177 6.79575 8 7.00267 8H7.00506C7.21029 8 7.4023 7.90166 7.5464 7.76237L13.7762 1.72443C13.9206 1.58502 13.9998 1.39364 14 1.19521C14 0.996669 13.9206 0.807928 13.7762 0.66863Z' fill='%23CA8685'/%3E%3C/svg%3E") !important;                
                appearance: none !important;                 
                background-repeat: no-repeat !important;
                background-position: center right 35px !important;
                line-height: 54px !important;
                border: 1px solid #CA8685 !important;
                padding: 0 60px 0 35px !important;
                color: #CA8685 !important;
                height: auto !important;
                min-width: 204px !important;
                font-size: 13px !important;
                text-transform: uppercase !important;
                @apply font-inter border-b border-gray-1000;
            }
        }
        #stamped-reviews-tab {
            @apply lg:border-t lg:border-blackesh-700 2xl:pt-[20px] order-5;
            @screen lg {
                margin-top:38px !important;
            }
            @screen 2xl {
                margin-top:52px !important;
            }
            .stamped-review {
                @apply m-0 py-[25px] lg:py-[38px] lg:mb-[20px] border-b border-gray-1000 border-t-0;
                .stamped-review-header {
                    .stamped-review-avatar {
                        @apply hidden mr-[25px] md:block bg-puce-100 lg:-top-[8px];

                        .stamped-review-avatar-content {
                            @apply text-font20 xl:text-font25 2xl:text-font28 uppercase font-bold font-inter text-white lg:w-[70px] lg:h-[70px] 2xl:w-[87px] 2xl:h-[87px]; 
                        }
                    }
                    .created {
                        @apply text-font12 md:text-font15 font-inter font-medium text-blackesh-100 lg:text-font16;
                    }
                    .author {
                        @apply font-inter uppercase text-blackesh-100 font-semibold text-font18 lg:text-font20;
                    }
                    .review-location {
                        @apply text-puce-400 text-font12 font-inter font-medium m-0 mt-[7px] mb-[15px] lg:mt-0 xl:mb-[20px];
                        .stamped-location-flag {
                            @apply w-[27px] mr-[7px];
                            img {
                                margin: 0 !important;
                                width: 100%;                                
                            }
                        }
                    }
                    .stamped-review-header-starratings {
                        @apply mb-[14px] md:ml-[80px] lg:block;
                    }
                }
                .stamped-review-content {
                    @apply m-0 md:pl-[80px] lg:pl-[94px] 2xl:pl-[112px];
                }
                .stamped-review-body {
                    .stamped-review-header-title {
                        @apply text-font18 md:text-font20 lg:text-font22 2xl:text-font24 font-semibold  text-blackesh-100 mb-[20px] xl:mb-[25px] 2xl:mb-[30px] mt-0 font-inter md:ml-[105px] md:-mt-[38px] lg:-mt-[40px]; 
                        @screen lg {
                            margin-top: -26px;
                            top: -14px;
                            position: relative;
                            margin-bottom: 0;
                            display: flex;
                        }
                        @screen 2xl {
                            top:-24px;
                            line-height: 1;
                        }
                    }
                    .stamped-review-content-body {
                        @apply text-font14 md:text-font15 lg:text-font16 text-puce-400 mb-[26px]; 
                    }
                    .stamped-review-footer {
                        @apply m-0;
                        .stamped-review-share {
                            @apply m-0;
                            .stamped-share-wrapper {
                                .stamped-share-icon {                                    
                                    @apply p-0 flex items-center relative text-font14 font-inter font-medium text-puce-400 lg:text-font16;
                                    .stamped-fa {
                                        @apply hidden;
                                    }
                                    &::before {
                                        content: "";
                                        @apply w-[14px] h-[14px];
                                        background: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.3 0H2.8C1.2537 0 0 1.2537 0 2.8V11.2C0 12.7463 1.2537 14 2.8 14H11.2C12.7463 14 14 12.7463 14 11.2C14 9.6103 14 7.7 14 7.7C14 7.3136 13.6864 7 13.3 7C12.9136 7 12.6 7.3136 12.6 7.7V11.2C12.6 11.9728 11.9728 12.6 11.2 12.6C8.869 12.6 5.1303 12.6 2.8 12.6C2.0265 12.6 1.4 11.9728 1.4 11.2C1.4 8.869 1.4 5.1303 1.4 2.8C1.4 2.0265 2.0265 1.4 2.8 1.4H6.3C6.6864 1.4 7 1.0864 7 0.7C7 0.3136 6.6864 0 6.3 0ZM11.6102 1.4H9.1C8.7136 1.4 8.4 1.0864 8.4 0.7C8.4 0.3136 8.7136 0 9.1 0H13.3C13.6864 0 14 0.3136 14 0.7V4.9C14 5.2864 13.6864 5.6 13.3 5.6C12.9136 5.6 12.6 5.2864 12.6 4.9V2.3898L7.4949 7.4949C7.2219 7.7679 6.7781 7.7679 6.5051 7.4949C6.2314 7.2219 6.2314 6.7781 6.5051 6.5051L11.6102 1.4Z' fill='%23867887'/%3E%3C/svg%3E");
                                        background-size: 100%;
                                        background-repeat: no-repeat;
                                        margin-right: 9px;                                        
                                        display: block;
                                    }
                                }
                            }
                        }
                        .stamped-review-vote {
                            @apply hidden;
                        }
                    }
                }
            }
        }
    }
}



.pdp-review-section {
    .stamped-container {
        width: 100% !important;
        max-width: 100% !important;
        @apply flex-wrap flex items-center justify-between; 
        .stamped-header-title {
            display: block !important;
            width: auto !important;
            margin: 0 auto 0 0;
            @apply text-font20 font-semibold font-inter text-blackesh-100;
        }
        .stamped-header {
            margin: 0 !important;
            @apply block;
            .stamped-summary {
                .summary-overview, .stamped-summary-ratings {
                    @apply hidden;
                }                
            }
        }
        .stamped-content {
            @apply border-t border-gray-1000 pt-[30px] mt-[30px] 2xl:pt-[50px] 2xl:mt-[50px];
        }
    }
}


