.subscribe-form {
    .subscribe-input {
        input {
            @apply w-full rounded-full px-7 lg:px-8 text-font15 lg:text-font15 py-3 border border-black;
            color: #000000;
            min-height: 47px;
            outline: none;
            @screen lg {
                min-height:50px;
            }
            @screen 2xl {
                min-height:55px;
            }
            &::placeholder {
                color: #000000;
            }
        }
    }
    .checkbox {
        input {
            border: 1.5px solid #000000;
            border-radius: 4px;
            width: 16px;
            height: 16px;
            background: transparent;
            opacity: 0;
        }
        label {
            &::after {
                content: "";
                border: 1.5px solid #000000;
                border-radius: 4px;
                width: 16px;
                height: 16px;
                background: transparent;
                @apply absolute;
                left: 0;
                top: 4px;
            }
        }
        input:checked + label {
            &::after {
                background: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3.76904L3.76929 6.53833' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.76953 6.53857L9.0004 1' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                background-position: 1px 2px;
                background-repeat: no-repeat;
                @screen lg {
                    background-position:center;
                }
            }
        }
    }
    .subscribe-btn {
        .primary-btn {
            width: 100%;
            min-height: 60px;
            @screen xl {
                width: fit-content;
                @apply mx-auto;
                min-width:177px;
            }
            @screen xl {
                min-height: 50px;
            }
            @screen 2xl {
                min-height: 60px;
            }
        }
    }
}
